<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title><%=title %></title>
  <link rel='stylesheet' href='style.css'>
</head>
<body>
  <p><%=content %></p>
  <p><a href='<%=url1 %>'>google検索へ</a></p>
</body>
</html>