<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title><%=title %></title>
  <link rel='stylesheet' href='style.css'>
</head>

<body>
  <p><%=content %></p>
  <p><a href='/google'>googleへのリンクがあるページに移動します？</a></p>
</body>
</html>